# production
services:
  db:
    deploy:
      # replicas: 3
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    restart: unless-stopped
    secrets:
      - postgres_user
      - postgres_password
      - postgres_db
    environment:
      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      POSTGRES_DB_FILE: /run/secrets/postgres_db
  pgbouncer:
    secrets:
      - db_user
      - db_password
      - db_name
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER_FILE: /run/secrets/db_user
      DB_PASSWORD_FILE: /run/secrets/db_password
      DB_NAME_FILE: /run/secrets/db_name
      POOL_MODE: transaction
      MAX_CLIENT_CONN: 100
      DEFAULT_POOL_SIZE: 20
      MIN_POOL_SIZE: 5
      RESERVE_POOL_SIZE: 5
      LISTEN_ADDRESS: "*"
      LISTEN_PORT: 6432
      AUTH_TYPE: scram-sha-256

  redis:
    image: redis:7-alpine
    container_name: redis
    environment:
      - REDIS_PASSWORD=/run/secrets/redis_password
    command: redis-server --requirepass $${REDIS_PASSWORD} --maxmemory 2gb --maxmemory-policy allkeys-lru --save ""
    networks:
      - app-network

secrets:
  postgres_user:
    external: true
  postgres_password:
    external: true
  postgres_db:
    external: true
  db_user:
    external: true
  db_password:
    external: true
  db_name:
    external: true
  redis_password:
    external: true
