# base commune

services:
  db:
    image: postgres:17-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    env_file: ".env.dev"
    # Section plus obligatoire si on precise le .env directement comme la ligne d'avant
    # environment:
    #   POSTGRES_USER: ${POSTGRES_USER}
    #   POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    #   POSTGRES_DB: ${POSTGRES_DB}
    command:
      [
        "postgres",
        "-c",
        "max_connections=100",
        "-c",
        "shared_buffers=1GB",
        "-c",
        "effective_cache_size=3GB",
        "-c",
        "maintenance_work_mem=256MB",
      ]
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./bdd/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d cesi_ressource_db -U user"]
      interval: 10s
    networks:
      - app-network

  pgbouncer:
    image: edoburu/pgbouncer:latest
    container_name: pgbouncer
    ports:
      - "6432:6432"
    env_file: ".env.dev"
    # Pareil que ligne 10
    # environment:
    #   DB_HOST: ${DB_HOST:-db}
    #   DB_PORT: ${DB_PORT:-5432}
    #   DB_USER: ${DB_USER}
    #   DB_PASSWORD: ${DB_PASSWORD}
    #   DB_NAME: ${DB_NAME}
    #   POOL_MODE: ${POOL_MODE:-transaction}
    #   MAX_CLIENT_CONN: ${MAX_CLIENT_CONN:-100}
    #   DEFAULT_POOL_SIZE: ${DEFAULT_POOL_SIZE:-20}
    #   MIN_POOL_SIZE: ${MIN_POOL_SIZE:-5}
    #   RESERVE_POOL_SIZE: ${RESERVE_POOL_SIZE:-5}
    #   LISTEN_ADDRESS: ${LISTEN_ADDRESS:-*}
    #   LISTEN_PORT: ${LISTEN_PORT:-6432}
    #   AUTH_TYPE: ${AUTH_TYPE:-scram-sha-256}
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
