services:
  db:
    image: postgres:17-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cesi_ressource_db
    command: ["postgres", "-c", "max_connections=100", "-c", "shared_buffers=1GB", "-c", "effective_cache_size=3GB", "-c", "maintenance_work_mem=256MB"]
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./bdd/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d cesi_ressource_db -U user"]
      interval: 10s
    networks:
      - app-network

  pgbouncer:
    image: edoburu/pgbouncer:latest
    container_name: pgbouncer
    ports:
      - "6432:6432"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=cesi_ressource_db
      - POOL_MODE=transaction
      - MAX_CLIENT_CONN=1000
      - DEFAULT_POOL_SIZE=35
      - MIN_POOL_SIZE=10
      - RESERVE_POOL_SIZE=5
      - LISTEN_ADDRESS=0.0.0.0
      - LISTEN_PORT=6432
      - AUTH_TYPE=plain
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
